.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color:#C4DDDE;
    margin: 8px 10px;
}
p{
    font-weight: bold;
    color:rgb(106, 63, 63);
}
.bottom-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 5px;
}
.main-content img{
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}
.img-container img{
    height: 200px;
    width: 200px;
}