.container{
     opacity: 0;
     animation: fadeIn 1s ease-in-out 1s forwards; }
 @keyframes fadeIn{
    to{opacity: 1;}};
img{
    height: 200px;
    width: 200px;
}
.main-container{
    margin: 8px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #C4DDDE;
}
.img-container img{
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin: 10px 0px;
}
.text-container{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.text-container h4{
    font-weight: bold;
    font-size:xx-large;
}
.bottom-text{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
}  